.slider {

    .item {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            z-index: 3;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            opacity: 0.4;
            background: rgb(0, 0, 0);
            background: linear-gradient(60deg, rgba(0, 0, 0, 0.8183648459383753) 0%, rgba(0, 0, 0, 0.196516106442577) 76%, rgba(0, 0, 0, 0) 100%);
        }

        .slideItem {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            min-height: 616px;

            @include media-breakpoint-down(md) {
                min-height: auto;
                height: 500px;
            }

            @include media-breakpoint-down(sm) {
                height: 300px;
            }
        }

        img {
            width: 100%;
        }

        .dImg {
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        .mImg {
            display: none;

            @include media-breakpoint-down(sm) {
                display: block;
            }
        }

        .captions {
            position: absolute;
            bottom: 90px;
            left: 0;
            right: 0;
            color: #fff;
            z-index: 4;

            @include media-breakpoint-down(md) {
                bottom: 35px;
            }

            @include media-breakpoint-down(sm) {
                bottom: 0px;
                background: rgba(0, 0, 0, 0.5);
                padding: 10px 0;
            }

            .caption {
                max-width: 80%;

                @include media-breakpoint-down(sm) {
                    max-width: 100%;
                }
            }

            p {
                font-size: 32px;
                margin-bottom: 0;

                @include media-breakpoint-down(md) {
                    font-size: 22px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                }
            }

            h4 {
                font-size: 46px;
                font-weight: 700;

                @include media-breakpoint-down(md) {
                    font-size: 32px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
        }
    }

    .slick-dots {
        bottom: 30px;

        @include media-breakpoint-down(md) {
            bottom: 15px;
        }

        @include media-breakpoint-down(sm) {
            // bottom: 10px !important;
            position: relative;
            bottom: 0;
        }

        li {
            height: 8px;
            width: auto;
            margin: 6px;

            button {
                padding: 0;
                height: 8px;
                width: 8px;
                overflow: hidden;

                background: #fff;
                opacity: 1;
                color: transparent;
                height: 8px;
                outline: none;
                width: 8px;
                @include transition(all ease 250ms);

                @include media-breakpoint-down(sm) {
                    background: #ccc;
                }


                &:before {
                    display: none;
                }
            }

            &.slick-active {
                button {
                    background: $primary;
                }
            }
        }
    }

}