.secTitle {
    padding-bottom: 10px;
    margin-bottom: 20px;

    &.arrows {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h2 {
        font-size: 42px;
        font-weight: 700;
        color: #333;
        margin-bottom: 30px;
        position: relative;

        &:after {
            content: '';
            display: block;
            width: 66px;
            height: 2px;
            position: absolute;
            bottom: -15px;
            left: 0;

            background: $secondary;
            margin-top: 10px;

        }
    }

    .sArrows {
        display: flex;
        align-items: center;
        gap: 12px;

        a {
            color: #00000066;
            font-size: 24px;

            &:hover {
                color: $secondary;
            }
        }
    }

    &.text-center {
        text-align: center;

        h2 {
            margin-bottom: 20px;

            &:after {
                margin: 0 auto;
                right: 0;
            }
        }
    }

    @include media-breakpoint-down(md) {
        h2 {
            font-size: 36px;

            &:after {
                width: 50px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        h2 {
            font-size: 24px;
            margin-bottom: 15px;

            &:after {
                width: 40px;
            }
        }
    }

    &.secTitleSmall {
        h2 {
            font-size: 28px;
            margin-bottom: 20px;

            &:after {
                width: 50px;
            }
        }

    }
}

.darkBg {

    .secTitle {

        h2 {
            color: #fff;

        }
    }
}

.cover {
    padding: 50px 0 25px !important;
    background-image: url('../img/bg/cover-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;

    .coverText {

        h2 {
            font-size: 42px;
            font-weight: 700;
            margin-bottom: 0px;

            @include media-breakpoint-down(md) {
                font-size: 30px;
            }
        }

        p {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 20px;

            @include media-breakpoint-down(md) {
                font-size: 18px;
            }
        }
    }
}

// Toolbar
.mcToolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    .secTitle {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .nav-tabs {
        justify-content: flex-start;
        margin-bottom: 0;
    }

    .mcFilters {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

// Pagination
.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;

    .pArrows {
        display: flex;
        align-items: center;
        gap: 12px;

        .btn {
            background: $secondary;
            color: #fff;
            padding: 5px 20px;
            border-radius: 40px;
            font-size: 18px;
            font-weight: 700;
            transition: all 0.3s ease-in-out;

            &:hover {
                border-color: $secondary;
                background: #fff;
                color: $secondary;
            }
        }

        span {
            font-size: 16px;
            font-weight: 700;
        }
    }
}

// Events
.eventBox {
    position: relative;
    overflow: hidden;
    @include border-radius(0px 36px 0px 36px);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: all 250ms ease-in-out;

    .ebImg {
        overflow: hidden;
        position: relative;
        object-fit: cover;
        height: 226px;
        @include border-radius(0px 36px 0px 36px);

        transition: all 0.3s ease-in-out;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
        }
    }

    .ebContent {
        padding: 30px;

        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 4px;
            color: #3C3C3C;

            .fa {
                width: 15px;
                margin-right: 5px;
            }
        }

        .btn {
            margin-top: 20px;
        }
    }

    &:hover {
        // @include border-radius(36px 0px 36px 0px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

        .ebImg {
            // @include border-radius(36px 0px 36px 0px);

            img {
                transform: scale(1.04);
            }
        }

    }
}

// Grid
.grid {
    // display: flex;

    .grid-item,
    .grid-sizer {
        position: relative;
        width: 33.33333333%;

        @include media-breakpoint-down(md) {
            width: 50%;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }

    }

    .grid-item {
        float: left;
        padding: 10px;
    }
}

// Media Box
.mediaBox {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    display: block;
    // margin-bottom: 20px;

    .mbImg {
        overflow: hidden;
        position: relative;
        object-fit: cover;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
        }

        &:after {
            position: absolute;
            content: '\f144';
            font-family: 'Font Awesome 6 Free';
            font-weight: 400;
            font-size: 50px;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            color: #fff;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }
    }

    .mbContent {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        padding: 15px;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.8);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
            z-index: 1;
        }

        h3 {
            position: relative;
            z-index: 2;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 5px;
            height: 40px;
            overflow: hidden;
            line-clamp: 2;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

        }

        h4 {
            position: relative;
            z-index: 2;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0px;
            color: #fff;
        }

        .mbMeta {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                font-size: 12px;
                font-weight: 300;
                margin-bottom: 0;

                b {
                    font-weight: 500;
                }
            }


        }
    }

    .shareBtns {
        position: absolute;
        top: 10px;
        right: 10px;

        display: flex;
        align-items: center;
        gap: 8px;

        a {
            color: #fff;
            padding: 5px;
            cursor: pointer;

            &:hover {
                color: $warning;
            }
        }
    }

    &.mediaMain {
        height: 437px;

        .mbContent {
            padding: 20px;

            h3 {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 0px;
                height: 55px;
            }

            .mbMeta {
                p {
                    font-size: 15px;
                }

                .shareBtns {
                    position: relative;
                    top: 0;
                    right: 0;

                }
            }
        }

        @include media-breakpoint-down(md) {
            height: auto;
            margin-bottom: 20px;
        }
    }

    @include media-breakpoint-down(md) {
        // margin-bottom: 20px;
    }

    &+.mediaBox {
        margin-top: 20px;

        @include media-breakpoint-down(md) {
            margin-top: 0;
        }
    }

    &.mediaLive {
        height: 57px;

        .mbImg {
            &:after {
                display: none;
            }
        }

        .mbContent {
            top: 0;
            display: flex;
            align-items: center;

            &:after {
                top: 0;
                left: 0;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
            }
        }

        h4 {
            .liveDot {
                color: $danger;
            }
        }
    }

    &:hover {
        .mbImg {
            &:after {
                opacity: 1;
                visibility: visible;
            }

            img {
                transform: scale(1.05);
            }
        }
    }
}

.mediaVideo {

    .mbImg {}
}

.mediaImage {

    .mbImg {
        &:after {
            content: '\f06e';
        }
    }

    .mbContent {
        h3 {
            padding-right: 60px;
        }

        .shareBtns {
            z-index: 2;
        }
    }
}

.mediaScroll {
    overflow-y: auto;
    max-height: 380px;
    margin-top: 20px;

    .mediaBox {
        height: 180px;
    }
}

// Image Grid
.imgGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    grid-gap: 20px;


    .igBox {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @include border-radius(0px 36px 0px 36px);
        border: 1px solid #0000001A;
        background: #fff;
        width: 142px;
        height: 92px;
        transition: all 0.3s ease-in-out;
        object-fit: contain;

        img {
            max-width: 126px;
            max-height: 76px;
            margin: 0 auto;
            display: block;
            object-fit: contain;
        }

        &:hover {
            // border-color: $primary;
            // @include border-radius(36px 0px 36px 0px);

            img {}
        }
    }
}